<!doctype html>
<html>
  <body>

    <%= current_user.email%>
    <main id="messages" class="messages"> 
    <h1 class="message_seen">Messages</h1>
    <table>
      <% @messages.each do |message|%>
        <tr>
          <td><%= other_user_in_conversation(message.from_id, message.to_id).email %></td>
          <td>
            <%if message.seen%>
              <%= link_to truncate(message.message,length: 35), conversation_path(message.from_id), :style => "font-weight: normal;"  %>
            <%else%>
              <%= link_to truncate(message.message,length: 35), conversation_path(message.from_id), :style => "font-weight: bold; color: #3d3d3d;" %>
            <%end%>
          </td>
          <td><% if message.updated_at > Time.now.beginning_of_day %>
            <%="#{time_ago_in_words(message.updated_at)} ago"%>
          <% else %>
            <%= message.updated_at.strftime("%b %d, %Y") %>
          <% end %></td>
        </tr>
      <% end %>
    </table>
    </main>

  </body>
</html>
